<div oc-lazy-load="['module/common/FooterController']">
    <footer class="footer-container" ng-controller="FooterController">
        <div class="footer box-border">
            <!--<a href="#/activity" target="_blank">一桶金计划</a>&nbsp;&nbsp;-->
            <a href="#/app-download" target="_blank">App下载</a>&nbsp;&nbsp;
            <a href="#/about-us" target="_blank">关于Askdog</a>&nbsp;&nbsp;
            <a href="#/join-us" target="_blank">加入我们</a>&nbsp;&nbsp;
            <a href="#/contact" target="_blank">关于我们</a>&nbsp;&nbsp;
            <span>Copyright©2016 Askdog.com</span>&nbsp;&nbsp;
            <span>沪ICP备14025047号-3 </span>
            <i class="iconfont icon-weixin weixin">
                <div class="erweima">
                    <img src="images/pages/erweima.jpg"/>
                    <h4>扫码关注微信公众平台</h4>
                </div>
            </i>
            <a href="http://weibo.com/askdog" target="_blank"><i class="iconfont icon-weibo"></i></a>
        </div>
    </footer>
</div>