<div oc-lazy-load="['module/store/DashboardController']">
    <div class="row" ng-controller="DashboardController">
        <div class="main a-fadeinR">
            <h1 class="page-header">优惠券状况</h1>
            <div class="row">
                <div class="col-xs-6 col-sm-6 text-center">
                    <div id="forward-coupon" class="coupon donut"></div>
                    <h2>转发优惠券</h2>
                </div>
                <div class="col-xs-6 col-sm-6 text-center">
                    <div id="pick-coupon" class="coupon donut"></div>
                    <h2>普通优惠券</h2>
                </div>
            </div>
        </div>
    </div>
</div>