<div oc-lazy-load="['css/page/national.css']">
    <div class="national">
        <div class="nat-top">
            <img class="nat-in" src="images/activity/national-top.png" alt="" /> </div>
            <div class="nat-top1">
            <img class="nat-1" src="images/activity/national-1.png" alt="" /></div>

        <div class="nat-2">
            <img src="images/activity/national-2.png" alt="" />
        </div>
        <div class="nat-3">
            <img src="images/activity/national-3.png" alt="" />
        </div>
        <div class="nat-4">
            <img src="images/activity/national-4.png" alt="" />
        </div>
        <div class="nat-5">
            <button class="button-nat" ui-sref=""><img src="images/activity/national-5.png" alt="" /></button>
        </div>
        <div class="nat-6">
            <img src="images/activity/national-6.png" alt="" />
        </div>
        <div class="nat-bottom"></div>
    </div>
</div>



