<div class="fragment-container" style="background: #fff;">
    <div class="contact-us-container" style="color: #aaa;">
        <video id="video-player" controls="" width="100%" height="207px"
               src="http://vod.pic.askdog.cn/commercial.mp4" poster="data:image/gif,AAAA"
               style="background-color: #eee; background-image: url(/style/images/us_p3.png); background-size: cover; background-position: center; background-clip: content-box;"
               onloadedmetadata="var ratio = 1046 / 578;$(this).height(window.screen.width / ratio);"></video>
    </div>
    <div class="container">
        <div class="us-block">
            <h4><span class="glyphicon glyphicon-facetime-video"></span> 免费拍摄</h4>
            <div class="us-block-item">
                <img src="/style/images/us_p1.png"/>
                <div class="us-block-item-text">短视频：在现在社会中，短视频，微电影不断冲击着人们的生活。</div>
            </div>
            <div class="us-block-item">
                <img src="/style/images/us_p2.png"/>
                <div class="us-block-item-text">移动新媒体：视频比图文更直接，更加真实。</div>
            </div>
            <div class="us-block-item">
                <img src="/style/images/us_p3.png"/>
                <div class="us-block-item-text">多点分发：以惠券的形式在朋友圈里多点分发。一传十，十传百。</div>
            </div>
        </div>
        <div class="us-block">
            <h4><span class="glyphicon glyphicon-phone-alt"></span> 联系我们</h4>
            <img src="/style/images/us_qr.png" width="100%;"/>
        </div>
    </div>
</div>