ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: outside none none;
}

/*  加入我们  */
.banner-joinus {
    padding: 0 0 95px;
    overflow: hidden;
    background-color: #1fb6ff;
}

.banner-joinus p {
    width: 620px;
    overflow: hidden;
    margin: 0 auto;
    color: #fff;
    line-height: 1.2em;
}

.banner-joinus .font-f {
    padding-top: 95px;
    font-size: 48px;
}

.banner-joinus .font-f .iconfont {
    font-size: 48px;
    padding-right: 20px;
}

.banner-joinus .font-s {
    padding-top: 95px;
    font-size: 24px;
}

.banner-joinus .font-t {
    padding: 26px 0 0;
    font-size: 18px;
}

.title-joinus {
    margin: 72px 0;
    font-size: 28px;
    color: #1d4569;
    text-align: center;
    line-height: 1.3em;
}

.col-920 {
    width: 920px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #c1c8da;
    position: relative;
}

.col-920 ul li {
    float: left;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #c1c8da;
    position: relative;
    cursor: pointer;
}

.col-920 ul li span {
    float: left;
    padding-left: 35px;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    color: #1a1a1a;
}

.col-920 ul li .iconfont {
    position: absolute;
    top: 26px;
    left: 350px;
    display: none;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #20b5ff;
}

.col-920 ul li .w-45 {
    width: 45%;
}

.col-920 ul li .w-35 {
    width: 35%;
}

.col-920 ul li .w-20 {
    width: 20%;
}

.col-920 ul.t-head li {
    height: 47px;
    background-color: #e3eefd;
}

.col-920 ul.t-head li span {
    line-height: 47px;
}

.col-920 ul.t-body li:hover, .col-920 ul.t-body li.current {
    background-color: #f2f4f9;
}

.col-920 ul.t-body li.current .iconfont {
    display: block;
}

.jobs-details {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 530px;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid #c1c8da;
}

.jobs-details .jobs-cont .jobs-address{
    padding-top:2px;
}

.jobs-til {
    height: 72px;
}

.jobs-til .btn-close {
    float: right;
    margin: 14px 14px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #8792a4;
}

.jobs-til .btn-close .iconfont {
    font-size: 20px;
    line-height: 20px;
    color: #e6e9f1;
}

.jobs-til .btn-close:hover {
    background-color: #fff;
    text-decoration: none;
}

.jobs-til .btn-close:hover .iconfont {
    color: #1fb6ff;
}

.jobs-cont {
    padding: 0 26px 0 22px;
    overflow: hidden;
}

.jobs-cont .font-f {
    font-size: 18px;
    line-height: 1.3em;
}

.jobs-cont .font-s {
    padding-top: 10px;
    font-size: 14px;
    color: #404856;
    line-height: 1.4em;
}

.jobs-cont .font-t {
    padding: 10px 0 0 22px;
    font-size: 14px;
    color: #1a1a1a;
    line-height: 1.7em;
}

.jobs-cont .jobs-number{
    margin-left:15px;
}

.jobs-cont .pt-40 {
    padding-top: 35px;
}