<div oc-lazy-load="['module/pages/AboutUsController','lib/idangerous/css/idangerous.swiper.css', 'css/pages/about_us.css']">

    <div class="swiper-container" ng-controller="AboutUsController" style="max-height: 955px;min-height: 500px;">
        <div class="pagination"></div>
        <div class="swiper-wrapper">
            <div class="swiper-slide page-1">
                <div class="box-left img-box">
                    <img src="/images/pages/pic-about1.png" alt=""/>
                </div>
                <div class="box-right">
                    <p class="box-title">
                        <span>
                            <img src="/images/pages/logo-about1.png" alt=""/>
                        </span>
                        <label>命名的由来</label>
                    </p>
                    <p class="box-content">
                        2008年末，美国《人物》周刊破天荒让一条狗登上了它的封面。《人物》周刊对这条狗语言描述：“它是降临在浮躁的美国的一种力量；它是笃定而欢快地照耀在任何一位迷失者前方的一盏路灯；它是早就藏好了眼泪和悲伤、只表露笑容与歌声的一种幸福。它的名字叫Faith（信念），它是一条狗，它是一条两条腿、像人类一样直立行走的狗。”
                    </p>
                </div>
            </div>
            <div class="swiper-slide page-2">
                <div class="box-left">
                    <p class="box-title">
                        <span>Faith</span>
                        <label>带给人们的信念</label>
                    </p>
                    </p>
                    <p class="box-content">
                        Faith是一只用两只腿直立行走的坚强小狗。<br/>是它的信念感动着无数人，<br/>是它的坚强也鼓舞着更多人，<br/>这也是Faith之所以受到大家热烈欢迎的原因。
                    </p>
                </div>
                <div class="box-right img-box">
                    <img src="/images/pages/pic-about2.jpg" alt=""/>
                </div>
            </div>
            <div class="swiper-slide page-3">
                <div class="box-left img-box">
                    <img src="/images/pages/pic-about3.png" alt=""/>
                </div>
                <div class="box-right">
                    <p class="box-title">
                        <span>Faith</span>
                        <label>给更多的人带来快乐</label>
                    </p>
                    <p class="box-content">
                        它常和孩子们玩赛跑的游戏；<br/>
                        它为那些孤独冷漠的的老人带去了久违的欢笑；<br/>
                        它常和主人在少管所矜持而严肃的走路，把那些被管制的孩子感动的泪流满面；<br/>
                        它还成为美国受伤士兵的“心理医生”——它身着迷彩服，就像是一个坚强的战士，逗得人们开怀大笑；<br/>
                        它还到电视台作为特殊嘉宾，接受主持人的采访。
                    </p>
                </div>
            </div>
            <div class="swiper-slide page-4">
                <div class="box-main img-box">
                    <img src="/images/pages/pic-about4.jpg" alt=""/>
                    <p class="about-logo">
                        <i class="iconfont icon-logo"></i>
                        <i class="iconfont icon-askdogask"></i>
                    </p>
                    <p class="about-font">
                        今天，我们希望Faith可以做更多的事情，帮助更多的人解决更多的问题。如果你心中有Faith，就让我们一起加入askdog.com一起帮助需要解决问题的朋友们！
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>