<div oc-lazy-load="['css/pages/activity.css']">
    <div class="jumbotron plan-banner">
        <div class="container">
            <div class="pic-box"><img src="/images/pages/plan/banner-plan-bg.png" alt="" class="pic"/></div>
            <div class="plan-banner-con">
                <h2>一桶金计划</h2>
                <p>我们正在寻找优秀的内容原创伙伴，如果您擅长于某个领域的经验分享，技能传授；我们Askdog经验分享社区愿为您打造优质的自媒体传播平台！</p>
            </div>
            <div class="btn-box">
                <a class="btn btn-success btn-join" role="button" href="/#/activity/share/video">加入一桶金计划</a>
            </div>
        </div>
    </div>
    <div class="plan-reward">
        <div class="container">
            <h2 class="plan-title">您的奖励</h2>
            <div class="time-bar">
                <div class="row">
                    <div class="col-md-6 pull-left text-right">
                        <span class="icon-circle"></span>
                        <span class="icon"><img src="/images/pages/plan/icon-plan-1.png" alt=""/></span>
                        <p class="text">
                            <span>现金收益双倍</span>
                            <em>您在Askdog经验分享获得的现金收益 * 2</em>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <span class="icon-circle"></span>
                        <span class="icon"><img src="/images/pages/plan/icon-plan-2.png" alt=""/></span>
                        <p class="text">
                            <span>加V认证</span>
                            <em>做一个优秀的自媒体大V</em>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pull-left">
                        <span class="icon-circle"></span>
                        <span class="icon"><img src="/images/pages/plan/icon-plan-3.png" alt=""/></span>
                        <p class="text">
                            <span>专人服务</span>
                            <em>为您提供一对一的客服</em>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <span class="icon-circle"></span>
                        <span class="icon"><img src="/images/pages/plan/icon-plan-4.png" alt=""/></span>
                        <p class="text">
                            <span>推荐关注</span>
                            <em>为您引入更多的关注用户</em>
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <span class="icon-circle"></span>
                    <span class="line"></span>
                    <span class="icon-circle"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron plan-case">
        <div class="container">
            <div class="pic-box"><img src="/images/pages/plan/pic-plan-1.png" alt=""/></div>
            <div class="plan-case-con">
                <h1>一桶金合作伙伴案例</h1>
                <p>
                    小郁同学是一名优秀的Flash设计师，在Askdog创建了《小郁动画》频道，通过动画分享他的生活小经验。一个月获得现金收益1208元，平台为了鼓励原创内容合作伙伴为他结算2倍的现金收益<b>2416</b>元，希望小郁可以创造更多优质的经验分享！
                </p>
            </div>
        </div>
        <div class="plan-case-bg"></div>
    </div>
    <div class="plan-requirements">
        <div class="container">
            <h2 class="plan-title">四点要求</h2>
            <div class="row">
                <div class="col-md-3">
                    <p class="icon"><img src="/images/pages/plan/icon-plan-5.png" alt=""/></p>
                    <h3 class="til">内容原创</h3>
                    <p class="desc">我们重视版权，您一定是内容的原创者</p>
                </div>
                <div class="col-md-3">
                    <p class="icon"><img src="/images/pages/plan/icon-plan-6.png" alt=""/></p>
                    <h3 class="til">分享干货</h3>
                    <p class="desc">我们是拼实力的，不是玩颜值的</p>
                </div>
                <div class="col-md-3">
                    <p class="icon"><img src="/images/pages/plan/icon-plan-7.png" alt=""/></p>
                    <h3 class="til">精短视频</h3>
                    <p class="desc">简单、清晰的讲解出您分享的经验、技巧</p>
                </div>
                <div class="col-md-3">
                    <p class="icon"><img src="/images/pages/plan/icon-plan-8.png" alt=""/></p>
                    <h3 class="til">高频更新</h3>
                    <p class="desc">一个优秀自媒体的特质，更新频率高，最好日更！</p>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron plan-conclusion">
        <div class="container">
            <a class="btn btn-success btn-join" role="button" href="/#/activity/share/video">加入一桶金计划</a>
            <p>Askdog经验分享社区为您打造优质的自媒体传播平台</p>
        </div>
    </div>
</div>