<div oc-lazy-load="['module/pages/JoinUsController', 'css/pages/join_us.css']">
    <div class="banner-joinus">
        <p class="font-f"><i class="iconfont icon-logo"></i>加入ASKDOG!</p>
        <p class="font-s">我们不仅提供梦想<br/>也提供合理的收入和优质的工作环境</p>
        <p class="font-t">在Askdog，我们推崇简单、务实的工作方式，在轻松、快乐的工作环境中积累和分享。你不只是在Askdog工作，是和一群志趣相投的人一起生活！</p>
        <p class="font-t">您可以用任何方式介绍自己，比如，附上过去引以为豪的一个创造。如果你愿意，请发简历的同时附上Askdog ID以及生活照，将有助于我们更快速、全面的认识你。</p>
    </div>
    <h2 class="title-joinus">开放职位</h2>
    <div class="col-920 mb-40 job-list" ng-controller="JoinUsController">
        <ul class="t-head">
            <li>
                <span class="w-45">职位</span>
                <span class="w-35">类别</span>
                <span class="w-20">工作地点</span>
            </li>
        </ul>
        <ul class="t-body">
            <li>
                <span class="w-45">JavaScript高级工程师</span>
                <span class="w-35">研发</span>
                <span class="w-20">上海、大连</span>
                <i class="iconfont icon-right"></i>
            </li>
            <li>
                <span class="w-45">前端工程师</span>
                <span class="w-35">研发</span>
                <span class="w-20">上海、大连</span>
                <i class="iconfont icon-right"></i>
            </li>
            <li>
                <span class="w-45">互联网Java全栈工程师</span>
                <span class="w-35">研发</span>
                <span class="w-20">上海、大连</span>
                <i class="iconfont icon-right"></i>
            </li>
            <li>
                <span class="w-45">互联网服务端Java架构师</span>
                <span class="w-35">研发</span>
                <span class="w-20">上海、大连</span>
                <i class="iconfont icon-right"></i>
            </li>
            <li>
                <span class="w-45">高级产品经理</span>
                <span class="w-35">产品</span>
                <span class="w-20">上海、大连</span>
                <i class="iconfont icon-right"></i>
            </li>
            <li>
                <span class="w-45">大数据工程师</span>
                <span class="w-35">研发</span>
                <span class="w-20">上海、大连</span>
                <i class="iconfont icon-right"></i>
            </li>
            <li>
                <span class="w-45">大数据架构师</span>
                <span class="w-35">研发</span>
                <span class="w-20">上海、大连</span>
                <i class="iconfont icon-right"></i>
            </li>
            <li>
                <span class="w-45">高级安全运维工程师</span>
                <span class="w-35">研发</span>
                <span class="w-20">上海、大连</span>
                <i class="iconfont icon-right"></i>
            </li>
            <li>
                <span class="w-45">Android高级研发工程师（互联网）</span>
                <span class="w-35">研发</span>
                <span class="w-20">上海、大连</span>
                <i class="iconfont icon-right"></i>
            </li>
            <li>
                <span class="w-45">iOS高级研发工程师</span>
                <span class="w-35">研发</span>
                <span class="w-20">上海、大连</span>
                <i class="iconfont icon-right"></i>
            </li>
            <li>
                <span class="w-45">测试开发工程师</span>
                <span class="w-35">研发</span>
                <span class="w-20">上海、大连</span>
                <i class="iconfont icon-right"></i>
            </li>
            <li>
                <span class="w-45">资深用户体验设计师</span>
                <span class="w-35">设计</span>
                <span class="w-20">上海、大连</span>
                <i class="iconfont icon-right"></i>
            </li>
            <li>
                <span class="w-45">用户体验设计师</span>
                <span class="w-35">设计</span>
                <span class="w-20">上海、大连</span>
                <i class="iconfont icon-right"></i>
            </li>
            <li>
                <span class="w-45">电商运营专员</span>
                <span class="w-35">运营</span>
                <span class="w-20">沈阳</span>
                <i class="iconfont icon-right"></i>
            </li>
            <li class="no-b">
                <span class="w-45">网站内容审核专员</span>
                <span class="w-35">运营</span>
                <span class="w-20">沈阳</span>
                <i class="iconfont icon-right"></i>
            </li>
        </ul>
        <div class="jobs">
            <!-- JavaScript高级工程师 -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">JavaScript高级工程师</p>
                    <p class="font-s jobs-address">工作地点:上海 | 大连</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <ol class="font-t jobs-number">
                        <li>
                            识别和管理与设计和后端之间的沟通和协作问题，提升前端团队的开发效率。
                        </li>
                        <li>
                            负责JavaScript和PHP代码框架的创建和维护。
                        </li>
                        <li>
                            提升WEB前端开发工程师的执行和开发效率，优化人员结构。
                        </li>
                    </ol>
                    <p class="font-f pt-40">任职资格：</p>
                    <ol class="font-t jobs-number">
                        <li>
                            计算机或相关专业，本科及以上学历，英语四级以上，能熟练阅读英文文档。
                        </li>
                        <li>
                            精通PHP, JavaScript，具备一定的框架开发能力和经验，能够深入理解WEB前台的MVC结构。
                        </li>
                        <li>
                            熟悉互联网应用的快速迭代开发流程。
                        </li>
                        <li>
                            经验要求：三年以上的互联网应用快速迭代开发经验。
                        </li>
                        <li>
                            其他要求：具备良好的前端架构分析能力与设计能力，有良好的语言表达和沟通能力，具有良好的团队合作精神和作风，乐于不断学习新技术。
                        </li>
                        <li>
                            英文读写听说流利。
                        </li>
                    </ol>
                    <p class="font-t">
                        优先条件:<br/>
                        1. 前端开发团队管理经验<br/>
                        2. 有两种以上其他语言开发经验
                    </p>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
            <!-- JavaScript高级工程师 -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">前端工程师</p>
                    <p class="font-s jobs-address">工作地点:上海 | 大连</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <p class="font-t">
                        完成公司平台前端界面效果与功能；<br/>
                        配合UE、视觉与后端开发人员沟通，分析并给出最优解决方案；<br/>
                        解决各种设备（PC端、移动端等）浏览器兼容问题；<br/>
                        为用户提供更好的前端体验、更爽的流程、更优的前端解决方案；<br/>
                        为团队积累和分享最佳开发实践、流程和工具；<br/>
                        参与公司移动端产品与项目研发。
                    </p>
                    <p class="font-f pt-40">任职资格：</p>
                    <p class="font-t">
                        精通或熟练 CSS,html 语义化，javascript，jQuery, css+div ，Ajax；<br/>
                        熟练产出兼容于现代浏览器的前端页面；<br/>
                        合理优化js / css等代码，使得网站体验更加优越；<br/>
                        善于学习，对新技术有狂热的研究兴趣；<br/>
                        熟练使用web前端相关工具和框架；<br/>
                        三年以上互联网行业工作经验 ,有过大型的Web应用开发经验；我们希望您最好是Google Design的爱好者。
                    </p>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
            <!-- 互联网Java全栈工程师 -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">互联网Java全栈工程师</p>
                    <p class="font-s jobs-address">工作地点:上海 | 大连</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <p class="font-t">
                        负责公司互联网平台业务系统研发、优化；<br/>
                        深入发掘和分析业务需求，提出技术及产品改进建议，撰写技术方案和系统设计；<br/>
                        负责业务系统的研发实施，把握复杂系统的设计，制定计划，及时沟通、高效执行；<br/>
                        定期梳理工作中经验和成果，并形成知识文档，主动和同事交流，让团队成员在你的影响下取得成长。
                    </p>
                    <p class="font-f pt-40">任职资格：</p>
                    <p class="font-t">
                        本科或以上学历，5年以上JavaWeb或者服务端开发经验或者认为自己Java技术很扎实的高手；<br/>
                        具备扎实的Java基础知识，以及以Java为主的全栈工作经验；<br/>
                        熟悉TCP、HTTP1.1/2.0等常用网络协议以及BIO、NIO、AIO等IO开发模型；<br/>
                        熟练Java Web开发，熟悉Spring、iBatis等开源框架，熟悉各种常用设计模式；<br/>
                        熟练使用Git、Maven等开发工具；<br/>
                        熟悉常用NoSQ技术，如Redis\MongoDB；<br/>
                        熟悉Linux操作和Shell编程；<br/>
                        熟练Web 2.0开发，对前端技术HTML5、CSS3、JavaScript有完整的理解；<br/>
                        有互联网开发工作经验优先；<br/>
                        有强烈的技术兴趣，喜欢钻研，否则非诚勿扰；<br/>
                        具有良好的学习能力，沟通技能，团队合作 能力。
                    </p>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
            <!-- 互联网服务端Java架构师 -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">互联网服务端Java架构师</p>
                    <p class="font-s jobs-address">工作地点:上海 | 大连</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <ol class="font-t jobs-number">
                        <li>负责公司平台重点业务系统建设;</li>
                        <li>负责互联网云端分布式服务体系建设;</li>
                        <li>参与技术体系建设、夯实、优化和沉淀；</li>
                        <li>定期梳理工作中经验和成果，并形成知识文档，影响和提升团队战斗力。</li>
                    </ol>
                    <p class="font-f pt-40">任职资格：</p>
                    <ol class="font-t jobs-number">
                        <li>8年以上以Java为主的全栈开发经验，并一直在技术一线;</li>
                        <li>经历过三个以上大型业务系统开发、管理，电商经验优先;</li>
                        <li>具备扎实的Java基础、JMM、JVM以及并发编程理论、实践；</li>
                        <li>熟悉TCP、HTTP1.1/2.0等常用网络协议以及NIO、AIO等IO模型;</li>
                        <li>熟练Web 2.0开发，对前端技术HTML5、CSS3、JavaScript有完整的了解；</li>
                        <li>熟悉Spring、iBatis等开源框架；熟悉各种常用设计模式；</li>
                        <li>具备技术多领域知识，如数据库、NoSQL、操作系统、网络、安全、云计算等；</li>
                        <li>熟练使用Git、Maven/Gradle、Jekins等开发工具；</li>
                        <li>熟悉分布式、微服务技术并了解以Docker为代表的容器技术；</li>
                        <li>能基于Linux上进行开发并熟练应用一种Shell编程；</li>
                        <li>深刻理解DevOps，具备很强的自动化工作意识；</li>
                        <li>优秀的抽象思维能力、良好的沟通能力；</li>
                        <li>具备技术前瞻性、质量意识、安全意识以及权衡折中能力。</li>
                    </ol>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
            <!-- 高级产品经理 -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">高级产品经理</p>
                    <p class="font-s jobs-address">工作地点:上海 | 大连</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <ol class="font-t jobs-number">
                        <li>负责公司平台的设计与规划、用户行为调查、产品原型、交互体验设计和增长管理</li>
                        <li>研究、分析用户需求，得到产品的主要用例和使用场景</li>
                        <li>进行可用性设计，确保需求在产品上的准确传达和用户的理解、认知</li>
                        <li>通过用户访谈、数据分析等方式,观察产品的发展，对产品形态的迭代和改进负责</li>
                        <li>与市场运营同事配合，共同改善用户的生命周期指标</li>
                        <li>拓展产品推广渠道，并管理各渠道的效果</li>
                    </ol>
                    <p class="font-f pt-40">任职资格：</p>
                    <ol class="font-t jobs-number">
                        <li>三年以上互联网行业用户产品的产品经理工作经验，有团队组建、管理经验者优先</li>
                        <li>良好的洞察力，善于利用数据分析、用户访谈、场景分析等专业手段发现潜在用户需求</li>
                        <li>掌握可用性设计的专业知识，并具备实际经验，能够运用信息结构、交互设计原则等知识完成可用性高的产品设计</li>
                        <li>理解验证产品假设的专业方法，例如:抽象建模、随机受控试验(A/B Test)等</li>
                        <li>对数字敏感,优秀的定性、定量分析能力，以及严密的逻辑思维</li>
                        <li>具备适合自己的创新思维体系，并能结合实际的创新案例讲出你在创新过程中的思考方法</li>
                        <li>敏锐的市场意识、广阔的视野,并有实际案例证明</li>
                        <li>出色的组织、协调能力和项目管理能力，并可提供实际工作中的成功案例</li>
                        <li>本科以上学历</li>
                    </ol>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
            <!-- 大数据工程师 -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">大数据工程师</p>
                    <p class="font-s jobs-address">工作地点:上海 | 大连</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <p class="font-t">
                        1.参与公司大数据平台的规划和建设；<br/>
                        2.基于公有云环境，设计并实现数据采集、归集和存储相关系统；<br/>
                        3.负责日志分析、实时分析、并行计算等系统设计和实现；<br/>
                        4.积极参与并身体力行DevOps建设和实践；<br/>
                        5. 与市场运营同事配合，共同改善用户的生命周期指标
                    </p>
                    <p class="font-f pt-40">任职资格：</p>
                    <ol class="font-t jobs-number">
                        <li>计算机、数学、统计学等相关专业本科及以上学位，5年以上的大数据建模、分析和软件开发经验；</li>
                        <li>具备扎实的数学、AI知识，至少在以下某一领域有深入的研究：统计机器学习、搜索引擎、深度学习；</li>
                        <li>掌握常见分布式计算框架和技术原理，如Hadoop、MapReduce、Yarn、Storm、熟悉Linux操作系统和Shell编程，熟悉SQL编程以及性能调优；</li>
                        <li>精通Java或者其他主流开发语言；熟悉常用的Java类库以及框架，如Spring等；</li>
                        <li>熟悉分布式服务开发，对基于Docker的微服务有一定的了解；</li>
                        <li>性格积极乐观、诚信，能自我驱动，有较强的语言表达能力；</li>
                        <li>具有搜索引擎、电子商务、大数据平台行业经验优先考虑。</li>
                    </ol>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
            <!-- 大数据架构师 -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">大数据架构师</p>
                    <p class="font-s jobs-address">工作地点:上海 | 大连</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <ol class="font-t jobs-number">
                        <li>负责公司大数据平台的规划和建设；</li>
                        <li>负责制定数据建模、数据处理、数据运维和数据安全等架构规范并落地实施；</li>
                        <li>设计并实现数据仓库、数据挖掘、BI、机器学习等数据系统建设、开发；</li>
                        <li>利用统计机器学习、深度学习算法改进数据系统的智能；</li>
                        <li>主导并身体力行整个技术团队的DevOps建设和实践；</li>
                        <li>辅导团队，提升公司整体数据研发能力。</li>
                    </ol>
                    <p class="font-f pt-40">任职资格：</p>
                    <ol class="font-t jobs-number">
                        <li>计算机、数学、统计学等相关专业硕士及以上学位，8年以上的大数据建模、分析和软件开发经验；</li>
                        <li>具备扎实的数学、AI知识，至少在以下某一领域有深入的研究：统计机器学习、视觉识别、深度学习；</li>
                        <li>熟悉大数据生态，掌握常见分布式计算框架和技术原理，如Hadoop、MapReduce、Yarn、Storm、Spark等；</li>
                        <li>熟悉Linux操作系统和Shell编程，至少精通Java/Python/Scala/C++/R等语言中的一种编程；</li>
                        <li>熟悉大规模并行计算的基本原理并具有实现并行计算算法的基本能力；</li>
                        <li>性格积极乐观、诚信，能自我驱动，有较强的语言表达能力；具有良好的沟通、团队协作、计划和创新的能力；</li>
                        <li>具有电子商务、搜索引擎、人工智能行业经验优先考虑。</li>
                    </ol>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
            <!-- 高级安全运维工程师 -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">高级安全运维工程师</p>
                    <p class="font-s jobs-address">工作地点:上海 | 大连</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <ol class="font-t jobs-number">
                        <li>保障业务服务在云端、终端以及传输、权限、数据等各个层面的安全；</li>
                        <li>建立安全运维体系，负责公司安全标准、规范、流程和相关系统的制定和实施；</li>
                        <li>实施安全审计，定期进行安全审核；</li>
                        <li>跟踪和研究安全趋势和技术，加强同第三方专业团队的联系和服务支持；</li>
                        <li>为其他团队提供安全咨询和培训，跟踪安全方案从提出到实施的全过程，提升整个技术团队安全意识和安全能力。</li>
                    </ol>
                    <p class="font-f pt-40">任职资格：</p>
                    <ol class="font-t jobs-number">
                        <li>计算机、信息安全等相关专业本科及以上学位，5年以上的互联网安全运维经验，具备较强的运维开发能力者优先考虑；</li>
                        <li>具备系统化的安全密码学知识，熟悉PKI技术体系，深入理解TLS/HTTPS原理；</li>
                        <li>熟悉Linux系统原理和安全机制，熟练掌握Linux下的脚本开发；</li>
                        <li>熟悉TCP/IP各层网络协议以及网络分析工具（Wireshark、tcpdump等），掌握各层协议的安全缺陷和规避防范措施；</li>
                        <li>了解主流开源技术原理及其安全特性，如LVS、Nginx、Redis、MySQL、Zookeeper、Docker等；</li>
                        <li>具有丰富Web安全实战经验，如XSS、DDos、流量分析、AAAA等；</li>
                        <li>掌握各项安全测试技术，如漏洞扫描、模拟攻击、渗透测试等；</li>
                        <li>知名安全组织、社区的积极活跃分子优先考虑；</li>
                        <li>性格积极乐观、诚信，能自我驱动，有较强的语言表达能力；</li>
                        <li>具有电子商务、搜索引擎、信息安全行业经验优先考虑。</li>
                    </ol>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
            <!-- Android高级研发工程师（互联网） -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">Android高级研发工程师（互联网）</p>
                    <p class="font-s jobs-address">工作地点:上海 | 大连</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <p class="font-t">
                        1.负责Android App架构分析、构建和实现；<br/>
                        2.负责关键技术选型、通用工具研发以及内部SDK研发；<br/>
                        3.负责Android App设计、开发、测试、上线和运行跟踪；<br/>
                        4.参与产品设计、产品技术规范制定、技术文档编写。
                    </p>
                    <p class="font-f pt-40">任职资格：</p>
                    <ol class="font-t jobs-number">
                        <li>本科或以上学历，计算机、通信、自动化、电子工程专业优先；</li>
                        <li>3年以上Android开发经验，有作为核心工程师完整开发过Android应用或平台的经验；</li>
                        <li>精通Android开发平台的框架原理，深入了解Android软件架构，熟练使用Android SDK、NDK、 JNI等进行开发；</li>
                        <li>扎实的Java基础，有C开发基础；</li>
                        <li>掌握面向对象设计以及常用的设计模式；</li>
                        <li>熟悉常用算法和数据结构，有并发编程经验；</li>
                        <li>熟悉TCP、HTTP1.1/2等常用网络协议以及至少研究过一种开源实现；</li>
                        <li>学习能力强，对混合式开发有一定的经验，熟悉H5/C3/JS技术、熟悉React Native；</li>
                        <li>熟练阅读英文技术文档，并有良好的记录、撰写技术文档习惯；</li>
                        <li>具有较强质量意识、安全意识、自动化工作意识；</li>
                        <li>善与人沟通、责任心强、具有团队合作精神。</li>
                    </ol>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
            <!-- iOS高级研发工程师 -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">iOS高级研发工程师</p>
                    <p class="font-s jobs-address">工作地点:上海 | 大连</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <p class="font-t">
                        1.负责iOS应用架构分析、设计和实现；<br/>
                        2.负责关键技术选型、通用工具研发；<br/>
                        3.负责iPhone&iPad上App设计、开发、测试、上线和运行跟踪；<br/>
                        4.参与产品设计、产品技术规范制定、技术文档编写。
                    </p>
                    <p class="font-f pt-40">任职资格：</p>
                    <ol class="font-t jobs-number">
                        <li>本科或以上学历，计算机、通信、自动化、电子工程专业优先；</li>
                        <li>3年以上iOS开发经验，有作为核心工程师完整开发过iOS应用或平台的经验；</li>
                        <li>精通iOS开发平台的框架原理，深入了解iOS软件架构，熟练使用iOS SDK；</li>
                        <li>扎实的Object-C基础，熟悉Swift编程；</li>
                        <li>掌握面向对象设计以及常用的设计模式；</li>
                        <li>熟悉常用算法和数据结构，有并发编程经验；</li>
                        <li>熟悉TCP、HTTP1.1/2等常用网络协议以及至少研究过一种开源实现；</li>
                        <li>学习能力强，对混合式开发有一定的经验，熟悉H5/C3/JS技术、熟悉React Native；</li>
                        <li>熟练阅读英文技术文档，并有良好的记录、撰写技术文档习惯；</li>
                        <li>具有较强质量意识、安全意识、自动化工作意识；</li>
                        <li>善与人沟通、责任心强、具有团队合作精神。</li>
                    </ol>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
            <!-- 测试开发工程师 -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">测试开发工程师</p>
                    <p class="font-s jobs-address">工作地点:上海 | 大连</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <ol class="font-t jobs-number">
                        <li>维护和开发单元测试、API测试、UI测试等自动化测试工具，在项目中实施自动化测试，提高代码的可测性</li>
                        <li>设计、构建和优化持续交付流程，维护和开发相关基础设施</li>
                    </ol>
                    <p class="font-f pt-40">任职资格：</p>
                    <ol class="font-t jobs-number">
                        <li>至少熟悉Python、Java、Objective-C‎、Ruby、Go、Shell中的一种语言</li>
                        <li>在Android、iOS、web至少一个领域，有丰富的自动化测试和持续集成相关经验</li>
                        <li>对开源技术有强烈的兴趣和爱好，曾经直接向开发者报告过bug或者贡献过patch</li>
                        <li>有良好的团队合作精神，有责任感，有较好的沟通能力，主动性强</li>
                        <li>有钻研新技术的热情和能力</li>
                    </ol>
                    <p class="font-t" style="margin-bottom:0">优先条件：</p>
                    <ol class="font-t jobs-number" style="padding-top:0;">
                        <li>熟悉Jenkins、Git、Puppet、Chef等工具优先</li>
                        <li>web领域：熟悉py.test、webdriver等工具优先</li>
                        <li>Android领域：熟悉Gradle、Maven、Junit、Espresso、Robolectric、Appium等测试工具优先</li>
                        <li>iOS领域：熟悉OCUnit、UI Automation、KIF、Appium等测试工具优先</li>
                        <li>提供Github账号、技术Blog链接等优先</li>
                    </ol>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
            <!-- 资深用户体验设计师 -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">资深用户体验设计师</p>
                    <p class="font-s jobs-address">工作地点:上海 | 大连</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <ol class="font-t jobs-number">
                        <li>产品周期中，无论是Askdog的Web产品还是移动产品，能够作为设计的主导者，从整体到细节来驱动设计工作</li>
                        <li>需要专注于交互设计或视觉设计。如果是交互设计，需要有良好的产品和用户需求分析能力，制订设计策略，定义用户模型、架构及交互细节；如果是视觉设计，需要领导项目视觉设计部分，通过页面布局，颜色，字体，
                            UI元素，图标，动画效果等设计手段，有效地传达产品概念和品牌形象</li>
                        <li>在高效协作的情况下，与其他用户体验设计师，产品经理和工程师紧密合作</li>
                        <li>与市场研究员紧密协作，将见解和研究结果应用于设计</li>
                        <li>能够作为导师，指导初级同事和实习生</li>
                        <li>推进优秀设计实践，提升设计价值，以提高团队设计标准</li>
                    </ol>
                    <p class="font-f pt-40">任职资格：</p>
                    <ol class="font-t jobs-number">
                        <li>五年以上行业经验，视觉传达、人机交互或其他相关专业，本科及以上学历</li>
                        <li>具备出色的分析能力、解决问题的能力以及批判性思维</li>
                        <li>对交互设计和可用性原则有深刻理解</li>
                        <li>良好的沟通表达能力，同时具备设计思维领导力</li>
                        <li>对能引起用户共鸣的设计有创造热情</li>
                        <li>精通常用设计工具</li>
                        <li>候选人请附作品：网站链接|PDF|PPT</li>
                    </ol>
                    <p class="font-t">
                        优先条件:<br/>
                        1. 熟练掌握HTML，CSS和JavaScript者优先<br/>
                        2. 有动效设计经验者优先<br/>
                        3. 熟悉用户研究方法者优先
                    </p>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
            <!-- 用户体验设计师 -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">用户体验设计师</p>
                    <p class="font-s jobs-address">工作地点:上海 | 大连</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <ol class="font-t jobs-number">
                        <li>响应Askdog web 和 mobile
                            端的产品功能迭代需求。配合产品经理，分析并转化产品需求，结合技术实现成本，给出从交互原型到视觉终稿的完整设计解决方案，提供开发所需标注及素材切图，跟进整个开发与测试过程，随时响应解答疑问，修正设计细节，并在项目上线后持续关注用户反馈</li>
                        <li>推动Askdog web 和 mobile 端的设计和体验优化。主动发现现有产品中存在的设计问题，发起优化需求，制定解决方案，跟进项目实施</li>
                        <li>参与产品新功能的讨论，从设计角度给出专业意见</li>
                        <li>与其他设计师合作，参与设计方案的讨论与评估，协助维护设计规范与组件库</li>
                    </ol>
                    <p class="font-f pt-40">任职资格：</p>
                    <ol class="font-t jobs-number">
                        <li>熟悉 web、iOS、Android 平台设计原则与用户使用习惯</li>
                        <li>需同时兼备产品、交互、视觉等多方面设计能力</li>
                        <li>对细节有敏锐的感知度和精准的把控能力</li>
                        <li>严格关注设计产出与技术实现质量，使其在有限条件内达到相对最完美</li>
                        <li>了解 web、iOS、Android 各平台技术特性与局限，与工程师无障碍沟通</li>
                        <li>能成为自己产品的重度用户</li>
                    </ol>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
            <!-- 电商运营专员 -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">电商运营专员</p>
                    <p class="font-s jobs-address">工作地点:沈阳</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <p class="font-t">
                        1. 电商产品内容的管理维护，清理违规信息<br/>
                        2. 电商产品web/app各渠道内容的日常运营<br/>
                        3. 商品信息的整理和维护
                    </p>
                    <p class="font-f pt-40">职位要求: </p>
                    <ol class="font-t jobs-number">
                        <li>热爱网购，了解时尚潮流趋势，熟悉国内外各大品牌商品</li>
                        <li>做事踏实、认真细心，有良好的沟通能力和团队协作能力</li>
                        <li>热爱互联网，关注互联网的新事物和用户行为变化</li>
                        <li>能承受紧张的工作压力，能适应夜间、节假日工作的压力</li>
                        <li>此岗位同时招聘实习生，实习期最短4个月，每周实习时间不少于3天，有转正机会</li>
                        <li>有电商相关网站、三方平台运营或社区版主等经验</li>
                    </ol>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
            <!-- 网站内容审核专员 -->
            <div class="jobs-details b-shadow">
                <div class="jobs-til"><a href="javascript:void(0);" class="btn-close"><i
                        class="iconfont icon-close1"></i></a></div>
                <div class="jobs-cont">
                    <p class="font-f">网站内容审核专员</p>
                    <p class="font-s jobs-address">工作地点:沈阳</p>
                    <p class="font-f pt-40">岗位职责：</p>
                    <ol class="font-t jobs-number">
                        <li>负责公司平台内容的日常维护，处理各类违法信息或与问题定位不符的内容</li>
                        <li>负责审核工作的数据统计和数据分析</li>
                        <li>整理互联网行业的法律法规和行业资讯、收集用户声音，为网站内容、运营质量、产品功能的改进等方面，提供支持工作</li>
                    </ol>
                    <p class="font-f pt-40">职位要求: </p>
                    <ol class="font-t jobs-number">
                        <li>为人诚实正直，言行一致</li>
                        <li>做事踏实认真，有责任心，工作效率高，执行力强</li>
                        <li>能适应夜间、周末、节假日的轮班倒休工作</li>
                        <li>热衷国内外新闻资讯及历史信息，对时政新闻有一定敏感度</li>
                        <li>此岗位同时招聘实习生，实习期最短4个月，每周实习时间不少于3天。有转正机会</li>
                    </ol>
                    <p class="font-f pt-40">申请职位：<a href="mailto:jobs@askdog.com"> jobs@askdog.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
