<div oc-lazy-load="['module/StoreDataController']">
    <div class="row" ng-controller="StoreDataController">
        <div class="main a-fadeinR">
            <h1 class="page-header">商户数据</h1>
            <div class="row">
                <div class="col-xs-12">
                    <h2>商户注册情况</h2>
                    <div id="agent-store-data"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2>优惠券领取及使用情况</h2>
                    <div id="agent-coupon-data"></div>
                </div>
            </div>
        </div>
    </div>
</div>