<!--<div oc-lazy-load="['module/activity/AutumnController','css/activity/autumn.css']">
    <div class="autumn-container" ng-controller="AutumnController">
        <div class="banner-container">
            <img src="images/activity/autumn.png"/>
        </div>
        <div class="container">
            <div class="autumn-main clearfix">
                <div class="middle-list">
                    <div class="media box-border">
                        <div class="pull-left autumn-ranking">001</div>
                        <div class="media-left">
                            <div ng-if="item.content_type=='VIDEO'">
                                <a class="btn btn-icon btn-play" href="#/exp/{{item.id}}">
                                    <i class="icon-play-panel"></i>
                                    <i class="iconfont icon-play02"></i>
                                </a>
                                <span class="video-duration">{{item.video_duration | durationFix}}</span>
                            </div>
                            <a href="#/exp/{{item.id}}">
                                <img ng-if="item.content_pic_url"
                                     ng-src="{{item.content_pic_url | picTrans: '197w_110h_1e_1c.png'}}"/>
                                <img ng-if="!item.content_pic_url"/>
                            </a>
                        </div>
                        <div class="media-body clearfix">
                            <div class="pull-left">
                                <h4 class="media-heading">
                                    <a class="subject" href="#/exp/{{item.id}}">1111111111111111大记号我是基地啊就是都基地加速等级基督教啊冬季啊剑法就是佛卷发夹见附件四福晋啊系佛教骚</a>
                                </h4>
                            </div>
                            <span><i class="iconfont icon-praise02"></i>886</span>
                        </div>
                    </div>
                    <div class="media box-border">
                        <div class="pull-left autumn-ranking">002</div>
                        <div class="media-left">
                            <div ng-if="item.content_type=='VIDEO'">
                                <a class="btn btn-icon btn-play" href="#/exp/{{item.id}}">
                                    <i class="icon-play-panel"></i>
                                    <i class="iconfont icon-play02"></i>
                                </a>
                                <span class="video-duration">{{item.video_duration | durationFix}}</span>
                            </div>
                            <a href="#/exp/{{item.id}}">
                                <img ng-if="item.content_pic_url"
                                     ng-src="{{item.content_pic_url | picTrans: '197w_110h_1e_1c.png'}}"/>
                                <img ng-if="!item.content_pic_url"/>
                            </a>
                        </div>
                        <div class="media-body clearfix">
                            <div class="pull-left">
                                <h4 class="media-heading">
                                    <a class="subject" href="#/exp/{{item.id}}">1111111111111111大记号我是基地啊就是都基地加速等级基督教啊冬季啊剑法就是佛卷发夹见附件四福晋啊系佛教骚</a>
                                </h4>
                            </div>
                            <span><i class="iconfont icon-praise02"></i>886</span>
                        </div>
                    </div>
                    <div class="media box-border">
                        <div class="pull-left autumn-ranking">003</div>
                        <div class="media-left">
                            <div>
                                <a class="btn btn-icon btn-play" href="#/exp/{{item.id}}">
                                    <i class="icon-play-panel"></i>
                                    <i class="iconfont icon-play02"></i>
                                </a>
                                <span class="video-duration">{{item.video_duration | durationFix}}</span>
                            </div>
                            <a href="#/exp/{{item.id}}">
                                <img ng-if="item.content_pic_url"
                                     ng-src="{{item.content_pic_url | picTrans: '197w_110h_1e_1c.png'}}"/>
                                <img ng-if="!item.content_pic_url"/>
                            </a>
                        </div>
                        <div class="media-body clearfix">
                            <div class="pull-left">
                                <h4 class="media-heading">
                                    <a class="subject" href="#/exp/{{item.id}}">1111111111111111大记号我是基地啊就是都基地加速等级基督教啊冬季啊剑法就是佛卷发夹见附件四福晋啊系佛教骚</a>
                                </h4>
                            </div>
                            <span><i class="iconfont icon-praise02"></i>886</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ad-analytics></ad-analytics>
    </div>
</div>-->
<div class="nat-bg">
    <div class="nat-1"><img src="images/activity/nat-1.png" /> </div>
    <button class="button-1"><div class="nat-2"><img src="images/activity/nat-2.png" /> </div></button>
    <button class="button-1"><div class="nat-3"><img src="images/activity/nat-3.png" /></div></button>
    <div class="nat-4"><img src="images/activity/nat-4.png" /> </div>
</div>