<div oc-lazy-load="['module/login/LoginController']">
    <div ng-controller="LoginController">
        <div class="common-header">
            <a href="#">
                <i class="iconfont icon-logo pull-left"></i>
            </a>
            <span>{{loginTitle}}</span>
        </div>
        <div class="container-fluid user-login-box login-user-box" ng-hide="forgetPassword">
            <div class="user-pic"><i class="iconfont icon-logo"></i></div>
            <form name="loginForm" ng-submit="login(loginForm)" after-render="bindValidator">
                <div class="form-group" ng-show="error">
                    <div class="alert alert-danger text-center alert-shake">{{error}}</div>
                </div>
                <div class="form-group">
                    <label>账号</label>
                    <input type="text" class="form-control" name="loginUsername" placeholder="手机 / 邮箱地址"
                           ng-model="userInfo.username" autocomplete="off">
                </div>
                <div class="form-group login-eye">
                    <label>密码</label>
                    <input type="password" class="form-control" name="loginPassword" placeholder="请输入密码"
                           id="password" ng-model="userInfo.password">
                    <i class="iconfont icon-favourite" ng-click="showPassword()"></i>
                </div>
                <div class="forget-pwd">
                    <a class="btn btn-link" ng-click="showForgetPwd()">忘记密码</a>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary btn-lg" ng-click="signIn()">登录</button>
                    <button class="btn btn-default btn-lg btn-register" ui-sref="view.register()">没有账号?请注册</button>
                </div>
            </form>
            <div class="others-login-box" ng-hide="forgetPassword">
                <div class="table-tell">
                    <a href="{{qqLoginLink}}"><i class="iconfont icon-qq"></i></a>
                    <a href="{{weiboLoginLink}}"><i class="iconfont icon-weibo"></i></a>
                    <!--<a href="{{weixinLoginLink}}"><i class="iconfont icon-weixin"></i></a>-->
                </div>
            </div>
            <ad-analytics></ad-analytics>
        </div>
        <div class="container-fluid user-login-box" ng-show="forgetPassword">
            <div class="user-pic"><i class="iconfont icon-logo" ng-hide="resetPwdSuccess || phoneResetPwdSuccess"></i>
            </div>
            <form ng-hide="resetPwdSuccess || phoneForgetPassword || codeValidator || phoneResetPwdSuccess"
                  name="recoverForm" after-render="findValidator">
                <div class="form-group" ng-show="psdResetError">
                    <div class="alert alert-danger text-center alert-shake">{{psdResetError}}</div>
                </div>
                <div class="form-group">
                    <label>账号</label>
                    <input type="text" class="form-control" placeholder="手机号 / 邮箱地址" name="recoverMail"
                           required="required" ng-model="recoverMail">
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary btn-lg">下一步</button>
                </div>

            </form>
            <form name="phoneForget" ng-show="phoneForgetPassword" after-render="phoneForgetValidator">
                <div class="form-group" ng-show="validatorError">
                    <div class="alert alert-danger text-center alert-shake">{{validatorError}}</div>
                </div>
                <div class="phone-register-title">
                    需要验证手机有效性
                </div>
                <div class="phone-register-send">
                    验证码的短信将发送至手机：<br>
                    <span>
                         {{recoverMail}}
                    </span>
                </div>
                <div class="clearfix register-phone-last">
                    <div class="form-group send-code-group">
                        <label>验证码</label>
                        <input type="text" class="form-control" placeholder="请输入验证码"
                               ng-model="phoneInfo.code"
                               name="code">
                    </div>
                    <div class="phone-reset-send send-code ">
                        <a ng-click="sendCode()" class="btn btn-default pull-right" value="发送验证码">发送验证码</a>
                    </div>
                </div>
                <div class="btn-group register-phone-last-button">
                    <button class="btn btn-primary btn-lg" type="submit">下一步</button>
                </div>
            </form>
            <form name="phoneResetForm" ng-show="codeValidator" after-render="resetBindValidator"
                  class="phone-reset-form">
                <div class="form-group new-password">
                    <label>新密码</label>
                    <input type="password" class="form-control" ng-model="phoneReset.newPassword"
                           name="phoneNewPassword" id="phoneResetPassword">
                    <i class="iconfont icon-close1 close-pwd" ng-click="cancelNewPassword()"></i>
                    <i class="iconfont icon-favourite" ng-click="showNewPassword()"></i>
                </div>
                <div class="form-group new-password">
                    <label>确认密码</label>
                    <input type="password" class="form-control" name="phoneAgainPassword"
                           ng-model="phoneReset.againPassword" id="phoneResetAgainPsd">
                    <i class="iconfont icon-close1 close-pwd" ng-click="cancelAgainPassword()"></i>
                    <i class="iconfont icon-favourite" ng-click="showAgainPassword()"></i>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary btn-lg" type="submit">重置密码</button>
                </div>
            </form>
            <div class="table-box" ng-show="resetPwdSuccess">
                <div class="table-cell-box">
                    <div class="system-info">
                        <i class="iconfont icon-logo"></i>
                        <b>邮件发送成功</b>
                        <p>重置密码邮件已发送到您的邮箱</p>
                    </div>
                </div>
            </div>
            <div class="table-box" ng-show="phoneResetPwdSuccess">
                <div class="table-cell-box">
                    <div class="system-info">
                        <i class="iconfont icon-logo"></i>
                        <b>密码重置成功</b>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

