<div class="row">
    <div class="main">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-3 text-center" style="width: 400px;">
                <h3 style="background: #f70; color:#fff; padding: 10px 7px; border-radius: 50px 0px 50px 0px;">惠券</h3>
                <h3 style="background: #222; color:#fff; padding: 10px 7px; border-radius: 0px 50px 0px 50px; margin-top: -8px;">用影像创造影响</h3>
                <h3 style="background: #0af; color:#fff; padding: 10px 7px; border-radius: 50px 0px 50px 0px;margin-top: -8px; ">让美味更加优惠</h3>
                <a ng-if="!userinfo" class="btn btn-primary" style="width: 100%"
                   href="javascript:window.location.href = '/login?request=' + encodeURIComponent('/')">立即登陆</a>
            </div>
        </div>
    </div>
</div>