<div oc-lazy-load="['module/ResetPasswordController']">
    <div class="reset-container" ng-controller="ResetPasswordController">

        <div class="edit-box">

            <div ng-if="status == 'verifying'" class="alert alert-info" role="alert">
                <i class="iconfont icon-waiting loading-rotate"></i>正在验证链接的有效性，请稍后。
            </div>
            <div ng-if="status == 'invalid'" class="alert alert-warning" role="alert">
                无法验证您的请求，请确认链接是否正确或者已经过期。
            </div>
            <div ng-if="status == 'succeed'" class="alert alert-success">
                密码重置成功！欢迎回来！
            </div>
            <div ng-if="status == 'failed'" class="alert alert-danger">
                重置密码失败，请检查您的输入是否正确，再次发送密码重置邮件，请点击
                <a href="javascript:void(0);" ng-click="goSignIn();">这里</a>
                登录？
            </div>
            <div class="lr-Modal" ng-if="status == 'valid'">
                <div class="login-container">
                    <div class="user-head-wrap">
                        <div class="user-head">
                            <i class="iconfont icon-dog"></i>
                        </div>
                    </div>
                    <div class="modal-body modal-login-body box-border">
                        <h1>重置密码</h1>
                        <form class="form-horizontal" name="loginForm" after-render="bindValidator">
                            <div class="form-group" ng-show="error">
                                <div class="alert alert-danger text-center alert-shake">{{error}}</div>
                            </div>
                            <div class="form-group has-feedback">
                                <span class="iconfont icon-email form-control-feedback"></span>
                                <input name="mail" type="email" class="form-control"
                                       placeholder="邮件地址"
                                       required="required"
                                       ng-model="token.mail"/>
                            </div>
                            <div class="form-group has-feedback">
                                <span class="iconfont icon-password form-control-feedback"></span>
                                <input id="password" name="password" type="password" class="form-control"
                                       placeholder="密码（不能少于6位）"
                                       required="required"
                                       ng-model="token.password">
                            </div>
                            <div class="form-group has-feedback">
                                <span class="iconfont icon-password form-control-feedback"></span>
                                <input name="confirm_password" type="password" class="form-control"
                                       placeholder="再次输入密码"
                                       required="required">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">重置密码</button>
                            </div>
                        </form>
                        <div class="modal-bottom-fix"></div>
                    </div>
                </div>
            </div>
            <ad-analytics></ad-analytics>

        </div>
    </div>
</div>