@charset "utf-8";

@import url("lib/csshake.min.css");

@keyframes full-rotate {
    from {  transform: translate(0, 0) rotate(0deg);  }
    to {  transform: translate(0, 0) rotate(360deg);  }
}

/* 淡入 */
@keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}

/* 淡入-从右 */
@keyframes fadeinR{
    0%{opacity:0;transform:translateX(100px);}
    100%{opacity:1;transform:translateX(0);}
}

/* 淡入-从下 */
@keyframes fadeinB{
    0%{opacity:0;transform:translateY(100px);}
    100%{opacity:1;transform:translateY(0);}
}

.loading-rotate {
    animation: full-rotate 1500ms linear infinite;
    margin-right: 0.5em;
}

.iconfont {
    display: inline-block;
}

.a-fadein {
    animation: fadein 0.5s ease-out backwards;
}

.a-fadeinR {
    animation: fadeinR 0.5s ease-out 0ms backwards;
}

.a-fadeinB {
    animation: fadeinB 0.5s ease-out 0ms backwards;
}